<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
	
		<h:form id="schoolMonitoringForm" >
		
			<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_monitoring_title']}" />
			</h2>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-35, width-80" layout="grid">
			
				<p:outputLabel value="#{label['sc_code']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="code" label="School Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{schoolMonitoringAction.school.schoolCode}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="code" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_town']}" />
				<h:panelGroup>
					<p:inputText id="name" label="Township" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.towonship}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="name" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_activity']}"
					styleClass="required" />
				<h:panelGroup>
					<p:selectOneMenu id="activity" label="Activity" required="true"
						styleClass="selectBox-width-26"
						value="#{schoolMonitoringAction.school.activityType}">
						<f:selectItem itemLabel="Select Activity" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{schoolMonitoringAction.activityList}"
							var="activity" itemLabel="#{activity.label}"
							itemValue="#{activity.value}" />
					</p:selectOneMenu>
					<p:message for="activity" />
				</h:panelGroup>
				
				
				
				<p:outputLabel value="#{label['sc_village']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="village" label="Village" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.villagName}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="village" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_moni_date']}" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="monidate" pattern="dd/MM/yyyy" required="true"
						label="Monitoring Date" navigator="true" styleClass="date-width-20"
						value="#{schoolMonitoringAction.school.monitoringDate}">
					</p:calendar>
					<p:message for="monidate" />
				</h:panelGroup> 
				
				<p:outputLabel value="#{label['sc_establish']}" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="establishDdate" pattern="dd/MM/yyyy" required="true"
						label="Monitoring Date" navigator="true" styleClass="date-width-20"
						value="#{schoolMonitoringAction.school.establishDate}">
					</p:calendar>
					<p:message for="establishDdate" />
				</h:panelGroup> 
				
				<p:outputLabel value="#{label['sc_building']}"
					styleClass="required" />
					<h:panelGroup>
					<p:inputText id="buildingSize" label="Building Size" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.buildingsize}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="buildingSize" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_compound']}"
					styleClass="required" />
					<h:panelGroup>
					<p:inputText id="compoundSize" label="Compound Size" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.compundSize}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="compoundSize" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_toilet']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="noOfToilet" label="Number of Latrine" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.noOfToilet}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="noOfToilet" />
				</h:panelGroup>
				
		<p:outputLabel  value="#{label['sc_moni_water_availability']}" styleClass="required"/>
		<h:panelGroup>
        <p:selectOneRadio id="getWater" value="#{schoolMonitoringAction.school.getWater}"  required="true">
            <f:selectItem itemLabel="Yes"   itemValue="1" />
            <f:selectItem itemLabel="No" noSelectionOption="false" itemValue="0" />
        </p:selectOneRadio>
        <p:message for="getWater" />
        </h:panelGroup>
        
				
				<p:outputLabel value="#{label['sc_distance_btw_eccdAndTown']}"
					styleClass="required" />
				<h:panelGroup>
					<p:selectOneMenu id="distanceServiceTown" label="Distance Between Eccd Service and Town" required="true"
						styleClass="selectBox-width-26"
						value="#{schoolMonitoringAction.school.eccdServiceTownDistance}">
						<f:selectItem itemLabel="Select Distance" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{schoolMonitoringAction.distanceServiceTownList}"
							var="distance" itemLabel="#{distance.label}"
							itemValue="#{distance.value}" />
					</p:selectOneMenu>
					<p:message for="distanceServiceTown" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_distance_tw_eccdnAndSchool']}"
					styleClass="required" />
				<h:panelGroup>
					<p:selectOneMenu id="distanceServiceSchool" label="Distance Between Eccd Service and School" required="true"
						styleClass="selectBox-width-26"
						value="#{schoolMonitoringAction.school.eccdServiceSchoolDistace}">
						<f:selectItem itemLabel="Select Distance" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{schoolMonitoringAction.distanceServiceSchoolList}"
							var="distance" itemLabel="#{distance.label}"
							itemValue="#{distance.value}" />
					</p:selectOneMenu>
					<p:message for="distanceServiceSchool" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_frequency_mcmeeting']}"
					styleClass="required" />
				<h:panelGroup>
					<p:selectOneMenu id="meeting" label="MC meeting" required="true"
						styleClass="selectBox-width-26"
						value="#{schoolMonitoringAction.school.frequencyMeetingType}">
						<f:selectItem itemLabel="Select Meeting" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{schoolMonitoringAction.meetingList}"
							var="meeting" itemLabel="#{meeting.label}"
							itemValue="#{meeting.value}" />
					</p:selectOneMenu>
					<p:message for="meeting" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_amount_revolving_fund']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="revolvingFund" label="Revolving Fund" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.amountrevolvingfund}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="revolvingFund" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_monthly_revolving_fund']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="monthlyrevolvingFund" label="Monthly Revolving Fund" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.monthlyRevolvingFund}">
						<f:convertNumber  integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="monthlyrevolvingFund" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_monthly_fees_parents']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="feeFromParent" label="Monthly Fee From Parent" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.feeFromParent}">
						<f:convertNumber  integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="feeFromParent" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_other_income']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="otherIncome" label="Other Income" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.otherIncome}">
						<f:convertNumber  integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="otherIncome" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_total_income']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="totalincome" label="Total monthly income" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.totalMonthlyIncome}">
						<f:convertNumber  integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="totalincome" />
				</h:panelGroup>
				<p:outputLabel value="#{label['sc_moni_caregiver_salary']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="totalSalary" label="Caregivers Salary" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.caregiverSalary}">
						<f:convertNumber  integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="totalSalary" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_general_expense']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="generalExpense" label="General Expense" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.generalExpense}">
						<f:convertNumber  integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="generalExpense" />
				</h:panelGroup>
				
					<p:outputLabel value="#{label['sc_moni_total_expense']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="totalExpense" label="Total Expense" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.totalexpense}">
						<f:convertNumber  integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="totalExpense" />
				</h:panelGroup>
				
					<p:outputLabel value="#{label['sc_moni_monthly_balance']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="monthlyBalance" label="Monthly Balance" maxlength="50"
						styleClass="width-30"
						value="#{schoolMonitoringAction.school.monthlyBalance}">
						<f:convertNumber  integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="monthlyBalance" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['sc_moni_issue']}"
					 />
				<h:panelGroup>
					<p:inputTextarea id="issue" rows="3" cols="50"
						label="Issue and problem" autoResize="false" maxlength="500"
						styleClass="width-60 text-area-noresize"
						value="#{schoolMonitoringAction.school.issue}">
						<f:validateLength maximum="500" />
					</p:inputTextarea>
					<p:message for="issue" />
				</h:panelGroup>
				
				
        <p:outputLabel  value="#{label['sc_moni_complete_resolve']}:" styleClass="required"/>
        <h:panelGroup>
        <p:selectOneRadio id="resolve" value="#{schoolMonitoringAction.school.completeResolve}"  required="true" >
            <f:selectItem itemLabel="Yes"   itemValue="1" />
            <f:selectItem itemLabel="No" noSelectionOption="false" itemValue="0" />
        </p:selectOneRadio>
        <p:message for="resolve" />
        </h:panelGroup>
        
        <p:outputLabel value="#{label['sc_moni_close']}: " styleClass="required"/>
         <h:panelGroup>
        <p:selectOneRadio id="openClose" value="#{schoolMonitoringAction.school.openClose}"  required="true"  >
            <f:selectItem itemLabel="Open"   itemValue="1" />
            <f:selectItem itemLabel="Close" noSelectionOption="false" itemValue="0" />
        </p:selectOneRadio>
        <p:message for="openClose" />
        </h:panelGroup>

		<p:outputLabel value="#{label['sc_moni_score_eccd_ape']}"
					styleClass="required" />
					<h:panelGroup>
					<p:inputText id="scoreeccdape" label="Score ECCD/APE" maxlength="50" 
						styleClass="width-30" 
						value="#{schoolMonitoringAction.school.minScoreOfEccdApe}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
						 <p:ajax event="keyup" update="updated" listener="#{schoolMonitoringAction.handleKeyEvent}" />
					</p:inputText>
					<h:outputText style="width:5px;" value="   "> </h:outputText>
					<h:outputText id="updated" value="#{schoolMonitoringAction.score}" style="font-weight:bold; color: #{schoolMonitoringAction.school.minScoreOfEccdApe lt 10 ? 'red':'blue'}"></h:outputText>
					<p:message for="scoreeccdape" />
				</h:panelGroup>
				
				</p:panelGrid>
				
				
				<!-- support -->
				<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_support_title']}" />
				</h2>
				<p:separator styleClass="color:#006ECC"></p:separator>
				
				<p:panelGrid id="basicInformationGrid1" columns="2"
				columnClasses="width-35, width-80" layout="grid">
				 <p:outputLabel value="#{schoolMonitoringAction.schoolSupporttech.support_lbl}" 
					styleClass="required" />
					
				 <h:panelGroup>
					<p:inputTextarea id="techSupporterName" rows="3" cols="50"
						label="Technical Supporter" autoResize="false" maxlength="500"
						styleClass="width-60 text-area-noresize"
						value="#{schoolMonitoringAction.schoolSupporttech.supporter_name}">
						<f:validateLength maximum="550" />
					</p:inputTextarea>
					<p:message for="techSupporterName" />
				</h:panelGroup>
				
				 <p:outputLabel value="#{schoolMonitoringAction.schoolSupportfund.support_lbl}" 
					styleClass="required" />
					
				 <h:panelGroup>
					<p:inputTextarea id="fundSupporterName" rows="3" cols="50"
						label="Fund Supporter" autoResize="false" maxlength="500"
						styleClass="width-60 text-area-noresize"
						value="#{schoolMonitoringAction.schoolSupportfund.supporter_name}">
						<f:validateLength maximum="550" />
					</p:inputTextarea>
					<p:message for="fundSupporterName" />
				</h:panelGroup>
				
				<p:outputLabel value="#{schoolMonitoringAction.schoolSupporttlms.support_lbl}" 
					styleClass="required" />
					
				 <h:panelGroup>
					<p:inputTextarea id="ttlmsSupporterName" rows="3" cols="50"
						label="TTLMS Supporter" autoResize="false" maxlength="500"
						styleClass="width-60 text-area-noresize"
						value="#{schoolMonitoringAction.schoolSupporttlms.supporter_name}">
						<f:validateLength maximum="550" />
					</p:inputTextarea>
					<p:message for="ttlmsSupporterName" />
				</h:panelGroup>
	
			   	 </p:panelGrid>
			   	 
				<!-- support -->
				
				<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_moni_title_survey']}" />
				</h2>
				<p:separator styleClass="color:#006ECC"></p:separator>
		
				<p:panel id="surveyInformatingrid">
				 <ui:repeat id="survey-repeat" value="#{schoolMonitoringAction.school.surveyList}" var="suvey">
				 
				 <h3 style="color:#006ECC">
				<h:outputText  value="#{suvey.label}" />
				</h3>
				
				<h:panelGrid columns="2" columnClasses="width-8, width-30">
				<p:outputLabel styleClass="width-50"  value="#{label['sc_survey_male']}"/>
				
				<h:panelGroup>
					<p:inputText id="male" label="Male" maxlength="50"
						styleClass="width-30"
						value="#{suvey.malecount}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="male" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50" value="#{label['sc_survey_female']}"/>
			
				<h:panelGroup>
					<p:inputText id="female" label="Female" maxlength="50"
						styleClass="width-30"
						value="#{suvey.femalecount}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="female" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="#{label['sc_survey_desc']}"/>
				
				<h:panelGroup>
					<p:inputTextarea id="desc" rows="3" cols="40"
						label="Issue and problem" autoResize="false" maxlength="500"
						styleClass="width-35 text-area-noresize"
						value="#{suvey.description}">
						<f:validateLength maximum="600" />
					</p:inputTextarea>
					<p:message for="desc" />
				</h:panelGroup>
				
				</h:panelGrid>				
				</ui:repeat> 
				</p:panel>
				
					<p:commandButton id="register"
						value="Save"
						update=":schoolMonitoringForm"
						process="schoolMonitoringForm"
						styleClass="btn"
						action="#{schoolMonitoringAction.save()}" ajax="false" />
					<p:spacer width="3"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{schoolMonitoringAction.init()}" 
						styleClass="btn"
						update=":schoolMonitoringForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>
	
		</h:form>
	</ui:define>
</ui:composition>
