<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="schoolMonitoringForm" >
			<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_monitoring_survey_success']}" />
			</h2>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-35, width-80" layout="grid">
			
				<p:outputLabel value="#{label['sc_code']}"/>
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.schoolCode}"></p:outputLabel>

				<p:outputLabel value="#{label['sc_town']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.towonship}"></p:outputLabel>

				<p:outputLabel value="#{label['sc_activity']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.activityLabel}"></p:outputLabel>
				
				
				
				<p:outputLabel value="#{label['sc_village']}"/>
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.villagName}"></p:outputLabel>

				<p:outputLabel value="#{label['sc_moni_date']}" styleClass="required"/>
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.moniDate}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_establish']}" styleClass="required"/>
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.estabalDate}"></p:outputLabel> 
	
				<p:outputLabel value="#{label['sc_building']}"/>
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.buildingsize}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_compound']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.compundSize}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_toilet']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.noOfToilet}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_water_availability']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.getWater==0? 'No' : 'Yes'}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_distance_btw_eccdAndTown']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.eccdServiceTownDistancelbl}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_distance_tw_eccdnAndSchool']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.eccdServiceSchoolDistancelbl}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_frequency_mcmeeting']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.frequencyMeetinglbl}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_amount_revolving_fund']}" />
			    <p:outputLabel value="#{schoolMonitoringCompleteAction.school.amountrevolvingfund}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_monthly_revolving_fund']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.monthlyRevolvingFund}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_monthly_fees_parents']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.feeFromParent}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_other_income']}"/>
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.otherIncome}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_total_income']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.totalMonthlyIncome}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_caregiver_salary']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.caregiverSalary}"></p:outputLabel>
				
					<p:outputLabel value="#{label['sc_moni_general_expense']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.generalExpense}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_total_expense']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.totalexpense}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_monthly_balance']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.monthlyBalance}"></p:outputLabel>
				
				<p:outputLabel value="#{label['sc_moni_issue']}" />
				<p:outputLabel value="#{schoolMonitoringCompleteAction.school.issue}"></p:outputLabel>
				
        <p:outputLabel value="#{label['sc_moni_complete_resolve']}:"/>
        <p:outputLabel value="#{schoolMonitoringCompleteAction.school.completeResolve==0? 'No' : 'Yes'}"></p:outputLabel>
        
        <p:outputLabel value="#{label['sc_moni_close']}:"/>
        <p:outputLabel value="#{schoolMonitoringCompleteAction.school.openClose==0? 'Close' : 'Open'}"></p:outputLabel>

		<p:outputLabel value="#{label['sc_moni_score_eccd_ape']}" />
		<p:outputLabel value="#{schoolMonitoringCompleteAction.school.minScoreOfEccdApe}"></p:outputLabel>
				
		</p:panelGrid>				
				<!-- support -->
				<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_support_title']}" />
				</h2>
				<p:separator styleClass="color:#006ECC"></p:separator>
				
				<p:panel>
				 <ui:repeat id="support-repeat" value="#{schoolMonitoringCompleteAction.school.supportList}" var="support">
					 <h:panelGrid columns="2" columnClasses="width-8, width-18">
			
				 <p:outputLabel value="#{support.support_lbl}"  />
					
				<p:outputLabel value="#{support.supporter_name}"></p:outputLabel>
				</h:panelGrid>
				</ui:repeat>
			   </p:panel>
			   	 
			  
				<!-- support -->
				
				<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_title_survey']}" />
				</h2>
				<p:separator styleClass="color:#006ECC"></p:separator>
		
				<p:panel id="surveyInformatingrid">
				 <ui:repeat id="survey-repeat" value="#{schoolMonitoringCompleteAction.school.surveyList}" var="suvey">
				 
				 <h3 style="color:#006ECC">
				<h:outputText  value="#{suvey.label}" />
				</h3>
				
				<h:panelGrid columns="2" columnClasses="width-8, width-30">
				<p:outputLabel styleClass="width-50"  value="#{label['sc_survey_male']}"/>
				<p:outputLabel value="#{suvey.malecount}"></p:outputLabel>
				
				<p:outputLabel styleClass="width-50" value="#{label['sc_survey_female']}"/>
				<p:outputLabel value="#{suvey.femalecount}"></p:outputLabel>
				
				<p:outputLabel styleClass="width-50" value="#{label['sc_survey_desc']}"/>
				<p:outputLabel value="#{suvey.description}"></p:outputLabel>
				
				</h:panelGrid>				
				</ui:repeat> 
				</p:panel>				
		</h:form>
	</ui:define>
</ui:composition>
