<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="schoolMonitoringHistoryform">
			<h1 style="color:#006ECC">
				<h:outputText value="#{label['sc_monitoring_history_title']}"  />
			</h1>
			
				<h:panelGrid id="basicInformationGrid" columns="3"
				columnClasses="width-40,width-5, width-20" layout="grid">
			
				<p:outputLabel value="#{label['sc_code']} " />
				<p:outputLabel value=":" />
				<p:outputLabel value="#{schoolMonitoringHistoryAction.school.schoolCode}"></p:outputLabel>
				
				
					
				<p:outputLabel value="#{label['sc_town']}" />
				<p:outputLabel value=":" />
				<p:outputLabel value="#{schoolMonitoringHistoryAction.school.towonship}"></p:outputLabel>
				
				

				<p:outputLabel value="#{label['sc_activity']}" />
				<p:outputLabel value=":" />
				<p:outputLabel value="#{schoolMonitoringHistoryAction.school.activityLabel}"></p:outputLabel>
				
				
				

				<p:outputLabel value="#{label['sc_village']}" />
				<p:outputLabel value=":" />
				<p:outputLabel value="#{schoolMonitoringHistoryAction.school.villagName}"></p:outputLabel>

				<p:outputLabel value="#{label['sc_moni_date']}" />
				<p:outputLabel value=":" />
				 <p:outputLabel value="#{schoolMonitoringHistoryAction.school.monitoringDate}">
				 <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
				 </p:outputLabel>
				
				
				</h:panelGrid>
		
			<h2 style="color:#006ECC">
				<h:outputText value="#{label['sc_history_list']}" />
			</h2>
			
			<p:dataTable styleClass="dataTable" id="schoolHistoryTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				lazy="true" rows="10" rowIndexVar="index"
				rowsPerPageTemplate="10,15,20" value="#{schoolMonitoringHistoryAction.historyDatamodel}"
				var="list" widgetVar="schoolHistoryTable">
				<p:column headerText="#{label['sc_history_lbl']}" styleClass="width-12">
					<h:outputText value="#{list.label}" />
				</p:column>
				<p:column headerText="#{label['sc_history_malecount']}" styleClass="width-6">
					<h:outputText value="#{list.maleCount}" />
				</p:column>
				
				<p:column headerText="#{label['sc_history_femalecount']}" styleClass="width-6">
					<h:outputText value="#{list.femaleCount}" />
				</p:column>
				<p:column headerText="#{label['sc_history_user']}" styleClass="width-10">
					<h:outputText value="#{list.modifiedUser}" />
				</p:column>
				<p:column headerText="#{label['sc_history_date']}" styleClass="width-8">
					<h:outputText value="#{list.date}"  >
					
					 </h:outputText>
				</p:column>
				
			</p:dataTable>
			<p:commandButton id="back"
						value="Back"
						action="schoolMonitoringSearch" 
						styleClass="btn"
						update=":schoolMonitoringHistoryform" immediate="true" ajax="false">
							<p:resetInput target="@form" />
					</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>