<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="schoolSurveyUpdate" >
		<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_updating_update_title']}" />
			</h2>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-35, width-80" layout="grid">
			
				<p:outputLabel value="#{label['sc_code']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="code" label="schoolData Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{schoolUpdateAction.schoolData.schoolCode}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="code" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_town']}" />
				<h:panelGroup>
					<p:inputText id="name" label="Township" maxlength="50"
						styleClass="width-30"
						value="#{schoolUpdateAction.schoolData.towonship}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="name" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_activity']}"
					styleClass="required" />
				<h:panelGroup>
					<p:selectOneMenu id="activity" label="Activity" required="true"
						styleClass="selectBox-width-26"
						value="#{schoolUpdateAction.schoolData.activityType}">
						<f:selectItem itemLabel="Select Activity" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{schoolUpdateAction.activityList}"
							var="activity" itemLabel="#{activity.label}"
							itemValue="#{activity.value}" />
					</p:selectOneMenu>
					<p:message for="activity" />
				</h:panelGroup>
				
				
				

				<p:outputLabel value="#{label['sc_village']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="village" label="Village" maxlength="50"
						styleClass="width-30"
						value="#{schoolUpdateAction.schoolData.villagName}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="village" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_update_date']}" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="monidate" pattern="dd/MM/yyyy" required="true"
						label="Monitoring Date" navigator="true" styleClass="date-width-20"
						value="#{schoolUpdateAction.schoolData.monitoringDate}">
					</p:calendar>
					<p:message for="monidate" />
				</h:panelGroup> 
				
				
				</p:panelGrid>
				
					<p:separator styleClass="color:#006ECC"></p:separator>
				<p:panel id="basicInformationGrid1" >
				
				 <ui:repeat id="survey-repeat" value="#{schoolUpdateAction.schoolData.schoolSurveyList}" var="suvey">
				 
				 <h3 style="color:#006ECC">
				<h:outputText  value="#{suvey.label}" />
				</h3>
				
				<h:panelGrid columns="3" columnClasses="width-30,width-20, width-100">
				<p:outputLabel styleClass="width-80"  value="#{label['sc_survey_male']}"/>
				<p:outputLabel styleClass="width-50"  value="#{suvey.malecount}"/>
				
				<h:panelGroup>
					<p:inputText id="male" label="Male" maxlength="50"
						styleClass="width-40"
						value="#{suvey.addnewMaleCount}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="male" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50" value="#{label['sc_survey_female']}"/>
				<p:outputLabel styleClass="width-50"  value="#{suvey.femalecount}"/>
			
				<h:panelGroup>
					<p:inputText id="female" label="Female" maxlength="50"
						styleClass="width-40" 
						value="#{suvey.addnewFemaleCount}">
						
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="female" />
				</h:panelGroup>
				</h:panelGrid>
				
				<h:panelGrid columns="2" columnClasses="width-6, width-30">
						<p:outputLabel styleClass="width-40"  value="#{label['sc_survey_desc']}"/>
				<h:panelGroup>
					<p:inputTextarea id="desc" rows="3" cols="40"
						label="Issue and problem" autoResize="false" maxlength="500"
						styleClass="width-53 text-area-noresize"
						value="#{suvey.description}">
						<f:validateLength maximum="600" />
					</p:inputTextarea>
					<p:message for="desc" />
				</h:panelGroup>
					</h:panelGrid>
				
								
				</ui:repeat> 
				</p:panel>
				
				
				<p:commandButton id="update"
						value="Update"
						action="#{schoolUpdateAction.update()}" 
						styleClass="btn"
						update=":schoolSurveyUpdate"  ajax="false">
					</p:commandButton>
					<p:commandButton id="back"
						value="Back"
						action="SchoolSearch" 
						styleClass="btn"
						update=":schoolSurveyUpdate" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>
						<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{schoolUpdateAction.init()}" 
						styleClass="btn"
						update=":schoolSurveyUpdate" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>
		<c:set target="#{flash}" property="scid" value="#{schoolUpdateAction.schoolcode}" />
		</h:form>
	</ui:define>
</ui:composition>
