<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="schoolDetailfrm" >
			<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_detail_title']}" />
			</h2>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<h:panelGrid id="basicInformationGrid" columns="3"
				columnClasses="width-40,width-5, width-20" layout="grid">
			
				<p:outputLabel value="#{label['sc_code']} " />
				<p:outputLabel value=":" />
				<p:outputLabel value="#{schoolDetailAction.school.schoolCode}"></p:outputLabel>
				
				
					
				<p:outputLabel value="#{label['sc_town']}" />
				<p:outputLabel value=":" />
				<p:outputLabel value="#{schoolDetailAction.school.towonship}"></p:outputLabel>
				
				

				<p:outputLabel value="#{label['sc_activity']}" />
				<p:outputLabel value=":" />
				<p:outputLabel value="#{schoolDetailAction.school.activityLabel}"></p:outputLabel>
				
				
				

				<p:outputLabel value="#{label['sc_village']}" />
				<p:outputLabel value=":" />
				<p:outputLabel value="#{schoolDetailAction.school.villagName}"></p:outputLabel>

				<p:outputLabel value="#{label['sc_update_date']}" />
				<p:outputLabel value=":" />
				 <p:outputLabel value="#{schoolDetailAction.school.moniDate}">
				 
				 </p:outputLabel>
				
				
				</h:panelGrid>
				<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_title_survey']}" />
				</h2>
				<p:panel id="basicInformationGrid1" >
				
				 <ui:repeat id="survey-repeat" value="#{schoolDetailAction.school.schoolSurveyList}" var="survey">
				 
				 <h3 style="color:#006ECC">
				<h:outputText  value="#{survey.label}" />
				</h3>
				
				<h:panelGrid columns="2" columnClasses="width-8, width-30">
				<p:outputLabel styleClass="width-50"  value="#{label['sc_survey_male']}"/>
				<p:outputLabel value="#{survey.malecount}"></p:outputLabel>
				
				
				<p:outputLabel styleClass="width-50" value="#{label['sc_survey_female']}"/>
				<p:outputLabel value="#{survey.femalecount}"></p:outputLabel>
				
				<p:outputLabel styleClass="width-50" value="Total"/>
				<p:outputLabel value="#{survey.femalecount + survey.malecount}"></p:outputLabel>
				
				<p:outputLabel styleClass="width-50" value="#{label['sc_survey_desc']}"/>
				<p:outputLabel value="#{survey.description}"></p:outputLabel>
				
				</h:panelGrid>				
				</ui:repeat> 
				</p:panel>
	<p:commandButton id="back"
						value="Back"
						action="SchoolSearch" 
						styleClass="btn"
						update=":schoolDetailfrm" immediate="true" ajax="false">
							<p:resetInput target="@form" />
					</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
