<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="schoolSearchForm">
			<h1 style="color:#006ECC">
				<h:outputText value="#{label['sc_updating_search_title']}"  />
			</h1>
			<p:panelGrid columns="4"
				columnClasses="width-15, width-35, width-15, width-35" layout="grid">
				
				<p:outputLabel value="#{label['sc_code']}"/>
				<p:inputText id="sccode" value="#{schoolUpdatingSearchAction.schoolSearch.sccode}"
					maxlength="10" styleClass="width-90" />
					
				

				<p:outputLabel value="#{label['sc_town']}"/>
				<p:inputText id="township" value="#{schoolUpdatingSearchAction.schoolSearch.township}"
					maxlength="75" styleClass="width-90" />
					
				<p:outputLabel value="#{label['sc_village']}"/>
				<p:inputText id="village" value="#{schoolUpdatingSearchAction.schoolSearch.vilageName}"
					maxlength="75" styleClass="width-90" />
					
				<p:outputLabel value="#{label['sc_activity']}"/>
				<h:panelGroup>
					<p:selectOneMenu id="activity" label="Activity" 
						styleClass="selectBox-width-26"
						value="#{schoolUpdatingSearchAction.schoolSearch.activity}">
						<f:selectItem itemLabel="Select Activity" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{schoolUpdatingSearchAction.activityList}"
							var="activity" itemLabel="#{activity.label}"
							itemValue="#{activity.value}" />
					</p:selectOneMenu>
				</h:panelGroup>
			
				<h:panelGroup>
					<p:commandButton id="search" ajax="false" value="#{label['user_search_btn']}"
						action="#{schoolUpdatingSearchAction.search('schoolSearchForm:schoolSearchTable')}"
						update=":schoolSearchForm" styleClass="btn" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset" ajax="false" value="#{label['user_search_reset']}"
						action="#{schoolUpdatingSearchAction.reset('schoolSearchForm:schoolSearchTable')}"
						update=":schoolSearchForm" styleClass="btn" />
				</h:panelGroup>

			</p:panelGrid>
			
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			
			<h2 style="color:#006ECC">
				<h:outputText value="#{label['sc_updating_list_title']}" />
			</h2>
			
			<p:dataTable styleClass="dataTable" id="schoolSearchTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {Exporters}"
				lazy="true" rows="10" rowIndexVar="index"
				rowsPerPageTemplate="10,15,20" value="#{schoolUpdatingSearchAction.schoolDataModel}"
				var="list" widgetVar="schoolSearchTable">
				
				 <f:facet name="{Exporters}">
            <h:commandLink action="#{schoolUpdatingSearchAction.exportExcel}" ajax="false"  immediate="true">
                <img src="../../images/excel.png" Class="img-excel-export"/>
              
            </h:commandLink>
            </f:facet>
				
				<p:column headerText="#{label['sc_code']}" styleClass="width-6">
					<h:outputText value="#{list.schoolCode}" />
				</p:column>
				<p:column headerText="#{label['sc_town']}" styleClass="width-12">
					<h:outputText value="#{list.towonship}" />
				</p:column>
				
				<p:column headerText="#{label['sc_activity']}" styleClass="width-10">
					<h:outputText value="#{list.activityLabel}" />
				</p:column>
				<p:column headerText="#{label['sc_village']}" styleClass="width-10">
					<h:outputText value="#{list.villagName}" />
				</p:column>
				<p:column headerText="#{label['sc_moni_date']}" styleClass="width-10">
					<h:outputText value="#{list.moniDate}"  >
					 </h:outputText>
				</p:column>
				 		
		
				<p:column headerText=" " styleClass="width-16 ">
				<p:commandLink styleClass="link" id="detail" value="Detail"
						action="#{schoolUpdatingSearchAction.detail(list.schoolCode)}" />
					<p:spacer width="4"></p:spacer>	
					<p:commandLink styleClass="link" id="edit" value="Update"
						action="#{schoolUpdatingSearchAction.edit(list.schoolCode)}" />
						<ui:fragment rendered="#{ schoolUpdatingSearchAction.getRole() == 2 ? true : false}">
					<p:spacer width="4"></p:spacer>
					<p:commandLink id="delete" value="Delete"
						action="#{schoolUpdatingSearchAction.delete(list.schoolCode)}" />
						</ui:fragment>
						<p:spacer width="4"></p:spacer>
					<p:commandLink id="history" value="History"
						action="#{schoolUpdatingSearchAction.history(list.schoolCode)}" />
				</p:column>
			</p:dataTable>
			
			
			
		</h:form>
	</ui:define>
</ui:composition>