<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="schoolRSurveyForm" >
			<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_updating_title']}" />
			</h2>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-35, width-80" layout="grid">
			
				<p:outputLabel value="#{label['sc_code']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="code" label="School Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{schoolSurveyAction.school.schoolCode}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="code" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_town']}" />
				<h:panelGroup>
					<p:inputText id="name" label="Township" maxlength="50"
						styleClass="width-30"
						value="#{schoolSurveyAction.school.towonship}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="name" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_activity']}"
					styleClass="required" />
				<h:panelGroup>
					<p:selectOneMenu id="activity" label="Activity" required="true"
						styleClass="selectBox-width-26"
						value="#{schoolSurveyAction.school.activityType}">
						<f:selectItem itemLabel="Select Activity" itemValue="0" noSelectionOption="true"/>
						<f:selectItems value="#{schoolSurveyAction.activityList}"
							var="activity" itemLabel="#{activity.label}"
							itemValue="#{activity.value}" />
					</p:selectOneMenu>
					<p:message for="activity" />
				</h:panelGroup>
				
				
				

				<p:outputLabel value="#{label['sc_village']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="village" label="Village" maxlength="50"
						styleClass="width-30"
						value="#{schoolSurveyAction.school.villagName}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="village" />
				</h:panelGroup>

				<p:outputLabel value="#{label['sc_update_date']}" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="monidate" pattern="dd/MM/yyyy" required="true"
						label="Monitoring Date" navigator="true" styleClass="date-width-20"
						value="#{schoolSurveyAction.school.monitoringDate}">
					</p:calendar>
					<p:message for="monidate" />
				</h:panelGroup> 
				
				
				</p:panelGrid>
				<h2 style="color:#006ECC">
				<h:outputText  value="#{label['sc_title_survey']}" />
				</h2>
				<p:separator styleClass="color:#006ECC"></p:separator>
				<p:panel id="basicInformationGrid1" >
				
				 <ui:repeat id="survey-repeat" value="#{schoolSurveyAction.school.schoolSurveyList}" var="suvey">
				 
				 <h3 style="color:#006ECC">
				<h:outputText  value="#{suvey.label}" />
				</h3>
				
				<h:panelGrid columns="2" columnClasses="width-8, width-30">
				<p:outputLabel styleClass="width-50"  value="#{label['sc_survey_male']}"/>
				
				<h:panelGroup>
					<p:inputText id="male" label="Male" maxlength="50"
						styleClass="width-30"
						value="#{suvey.malecount}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="male" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50" value="#{label['sc_survey_female']}"/>
			
				<h:panelGroup>
					<p:inputText id="female" label="Female" maxlength="50"
						styleClass="width-30"
						value="#{suvey.femalecount}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="female" />
				</h:panelGroup>
				
					<p:outputLabel styleClass="width-50"  value="#{label['sc_survey_desc']}"/>
				
				<h:panelGroup>
					<p:inputTextarea id="desc" rows="3" cols="40"
						label="Issue and problem" autoResize="false" maxlength="500"
						styleClass="width-35 text-area-noresize"
						value="#{suvey.description}">
						<f:validateLength maximum="600" />
					</p:inputTextarea>
					<p:message for="desc" />
				</h:panelGroup>
				
				</h:panelGrid>				
				</ui:repeat> 
				</p:panel>
				
					<p:commandButton id="register"
						value="Save"
						update=":schoolRSurveyForm"
						process="schoolRSurveyForm"
						styleClass="btn"
						action="#{schoolSurveyAction.save()}" ajax="false" />
					<p:spacer width="3"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{schoolSurveyAction.init()}" 
						styleClass="btn"
						update=":schoolRSurveyForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>
	
		</h:form>
	</ui:define>
</ui:composition>
