<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="schoolDeleteForm"
			enctype="multipart/form-data">
			<h2 style="color:#006ECC">
				<h:outputText value="#{label['sc_updating_delete']}" />
			</h2>
			<p:messages globalOnly="true" showDetail="true" showSummary="true"
				autoUpdate="true" />
			<p:separator></p:separator>
			<p:panelGrid id="schoolDeleteGrid" columns="2"
				columnClasses="width-30, width-70" layout="grid">

				<p:outputLabel
					value="#{label['sc_code']}" />
				<h:outputText id="schoolCode"
					value="#{schoolDeleteAction.school.schoolCode}" />

				<p:outputLabel
					value="#{label['sc_town']}" />
				<h:outputText id="schoolTown"
					value="#{schoolDeleteAction.school.towonship}" />

				<p:outputLabel value="#{label['sc_village']}" />
				<h:outputText id="villageName"
					value="#{schoolDeleteAction.school.villagName}" />
					
				<h:panelGroup>
					<p:commandButton id="delete"
						value="Delete"
						update=":schoolDeleteForm"
						process="schoolDeleteForm"
						styleClass="btn"
						action="#{schoolDeleteAction.delete}" ajax="false" />
					<p:spacer width="2"></p:spacer>

					<p:commandButton id="backBtn"
						value="Back"
						styleClass="btn"
						immediate="true"
						action="SchoolSearch">
					</p:commandButton>
					<c:set target="#{flash}" property="scid" value="#{schoolDeleteAction.schoolId}" />
				</h:panelGroup>	
					
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
