

input[type=text], input[type=password] {
    width: 50%;
    padding: 13px 20px;
    margin: 8px 0;
    border: 1px solid #0080ff;
    box-sizing: border-box;
}

.form-signin {
  width: 420px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}



.imgcontainer {
    text-align: center;
    margin: 24px 70px 12px 0;
}
.space
{
	width:50%;
}

img.stc {
    size: 50%;
    border-radius: 30%;
}

.container {
   width: 500px;
   border: 1px solid #c0c0c0;
    margin: 0 auto; 
}



}