html, body {font-family: 'Roboto', sans-serif; font-size: 11px;  margin: 0px; padding: 0px; height: 100%;}

/* Menu bar layout  */
.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-menubar, .ui-menu-child, .ui-menu {
	padding-top: 20px;
	margin-left: 45px;
	border: none;
}

ul.ui-menuitem-link, .ui-submenu-link, .ui-corner-all, .ui-menuitem-text
	{
	font-size: 15;
}

/* Submenu box size */
.mnuheader>.ui-menu-child {
	white-space: nowrap;
	width: 250 !important;
}

.user>.ui-menu-child {
	white-space: nowrap;
	width: 250 !important;
}

.report>.ui-menu-child {
	white-space: nowrap;
	width: 250 !important;
}

.fee>.ui-menu-child {
	white-space: nowrap;
	width: 250 !important;
}

.building>.ui-menu-child {
	white-space: nowrap;
	width: 250 !important;
}

/** Logo style */
.sts-logo {
	margin: 0px 0px 0px 20px;
	font-size: 40px !important;
	cursor: pointer;
	text-decoration: none;
	color: #006ECC;
	float: left;
	font-weight: bold;
}

.userid {
	margin: 5px 0px 0px 15px;
	font-size: 30px !important;
	cursor: pointer;
	text-decoration: none;
	color: #006ECC;
	float: right;
	text-align: center;
	font-weight: bold;
	width:150px;
}

.separator
{
	color: #006ECC;
}

.btn
{
	font-size : 15px !important;
	color: #006ECC !important;
	width:85px;
	height:40px;
	font-weight: bold;
	margin:5px 0px 20px 15px;
}

.logoutBtn
{
	margin: 5px 0px 0px 15px;
	font-size : 20px !important;
	width:120px;
	color: #006ECC !important;
	font-weight: bold;
}

/** User name style */
.user {
	font-size: 15;
	font-weight: bold;
	padding-top: 30px;
}

/** User icon style */
.user-icon {
	float: right;
	margin: 5px 20px 0px 0px;
}

.smGlobalBtn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border: 2px solid #ddd;
	box-shadow: 0 3px 3px #999;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	font-weight: normal;
	line-height: 2em;
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
}

/** Overlay panel style */
.user-icon-overlay {
	margin: 0px 0px 0px 0px;
	width: 80;
	height: 80;
}

.overlay-dialog {
	width: 300px;
	height: 150px;
}

.overlay-account-btn {
	margin-top: 10px;
}

.smGlobalBtn-overlay {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 80px;
	height: 80px;
	border: 2px solid #ddd;
	box-shadow: 0 3px 3px #999;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	font-weight: normal;
	line-height: 2em;
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 277px;
}

/* OVERRIDEN CSS */
.required:AFTER {
	content:" *";
	color: #ec0000;
}

.date-width-30 .hasDatepicker {
  width:30%;
}

.date-width-40 .hasDatepicker {
  width:40%;
}

.date-width-50 .hasDatepicker {
  width:50%;
}

.date-width-66 .hasDatepicker {
	width: 66.66666%;
}

.date-width-67 .hasDatepicker {
	width: 67%;
}

.date-width-100 .hasDatepicker {
	width: 100%;
}

.auto-complete-100 .ui-autocomplete-input.ui-inputfield
{
    width : 100%;
}

.width-6 {
	width: 6%;
}

.width-8 {
	width: 8%;
}

.width-10 {
	width: 10%;
}

.width-11 {
	width: 11%;
}

.width-12 {
	width: 12%;
}

.width-14 {
	width: 14%;
}

.width-16 {
	width: 16%;
}

.width-18 {
	width: 18%;
}

.width-20 {
	width: 20%;
}

.width-22 {
	width: 22%;
}

.width-25 {
	width: 25%;
}

.width-26 {
	width: 26%;
}

.width-30 {
	width: 30%;
}

.width-35 {
	width: 35%;
}

.width-36 {
	width: 36%;
}

.width-40 {
	width: 40%;
}

.width-50 {
	width: 50%;
}

.width-67 {
	width: 67%;
}

.width-80 {
	width: 80%;
}

.width-100 {
	width:100%;
}

.btn-130 {
	margin-bottom: 5px;
	width: 130px;
}

.btn-40 {
	width: 40px;
}

.link-remove {
	 margin-left: 70px;
	 position: absolute;
	 z-index: 1;
}

.selectBox-width-26{
	width: 26% !important;
}

.selectBox-width-100{
	width: 80% !important;
}

.img-remove {
	 width:25px;
	 height:25px;
	 vertical-align: middle;
}

.link-remove {
	 margin-left: 130px;
	 position: absolute;
	 z-index: 1;
}

.text-align-center {
	text-align: center;
}

.selectBox-width-90{
width: 90% !important;
}

.width-90{
width : 90% !important;
}

.image-size-limit{
max-height: 150px !important;
}

.text-area-noresize {
	resize: none;
}

.link-width-16 {
	text-align: center;
	width: 16%;
}


/** Footer style */
.footer {
	bottom: 0;
	text-align: center;
}

.footer font {
	font-family: Courier;
	font-size: 12px;
	color: #7A7777;
}

.dataTable
{

	color:#006ECC;
	
}

.dateBox
{
	width: 30px;
}

.ui-column-title,.ui-widget-content a{

	color: #006ECC;
	
}

.ui-datepicker th
{
	color: #006ECC;
}

.img-excel-export
{
	width:25px;
	float:right;
}

.hasDatepicker {
	width:110px;
}

.lbl {
	width:110px;
}


