<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	

		<div class="ui-grid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-2-responsive">
					<a href="/stcEdu/view/main.xhtml"> <p:outputLabel value="S.T.C(Education)"
							styleClass="sts-logo"></p:outputLabel>
					</a>
				</div>
				<p:idleMonitor timeout="800000">
        			<p:ajax event="idle" listener="#{idleMonitoringView.onIdle}" />  
    			</p:idleMonitor>
				<div class="ui-grid-col-6">
					<ui:include src="/view/common/menu.xhtml" />
				</div>
				<h:form>
				<div class="ui-grid-col-4">
					<div class="ui-grid-row">
						<div class = "ui-grid-col-3-responsive">
						 <p:outputLabel value="#{loginAction.user.userId}" styleClass="userid" />
						</div>
						<div class = "ui-grid-col-1">
						 <p:commandButton value="Log Out" styleClass="logoutBtn" action="#{loginAction.logout}"/>
						</div>
					</div>
				</div>
				</h:form>
			</div>
		</div>
	
</ui:composition>