<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:fragment rendered="#{loginAction.user.role == 2 ? true : false}">
    	<ui:include src="adminmenu.xhtml" />
	</ui:fragment>
	
	<ui:fragment rendered="#{loginAction.user.role == 3 ? true : false}">
    	<ui:include src="usermenu.xhtml" />
	</ui:fragment>
	
</ui:composition>