<!DOCTYPE f:view PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			
 <link  rel="shortcut icon" href="#{request.contextPath}/images/stc.png"  />
		<title>Save The Children</title>
		<link href="#{request.contextPath}/css/style.css" rel="stylesheet" />
	</h:head>
	 
	<h:body>
		<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
   <!--  <f:facet name="default">
        <h:graphicImage value="/images/loading_detail.gif"  />
    </f:facet>
  -->
    <f:facet name="start">
       <h:graphicImage value="/images/loading.gif" />
    </f:facet>
 
    <f:facet name="complete">
        <h:outputText value="Status: Completed" />
    </f:facet>
</p:ajaxStatus>
 
<p:ajaxStatus  onstart="PF('statusDialog').show()"  onsuccess="PF('statusDialog').hide()" />
 <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
   <h:graphicImage value="/images/loading.gif" />
</p:dialog>

			
		<p:layout fullPage="true">
			<p:layoutUnit position="north" size="70" collapsible="true"
				gutter="3">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>
			<p:layoutUnit position="center">
			
				<div class="ui-grid">

					<div class="ui-grid-row">
						<div class="ui-grid-col-1"></div>
						<div class="ui-grid-col-10">
							<ui:insert name="content" />
						</div>
						<div class="ui-grid-col-1"></div>
					</div>
				</div>
			</p:layoutUnit>
		</p:layout>
	</h:body>
</f:view>
