<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:form>

		<p:menubar>
				<p:submenu label="#{label['data_update_process_parent_menu']}">
					<p:menuitem value="#{label['data_update_village_register']}"
					action="SchoolSurvey" actionListener="#{homeActionBean.clearMessage}"/>
					<p:menuitem value="#{label['data_update_village_search']}" 
					action="SchoolSearch" actionListener="#{homeActionBean.clearMessage}" />
				</p:submenu>
				<p:submenu label="#{label['data_monitoring_parent_menu']}">
					<p:menuitem value="#{label['data_monitoring_register']}" 
					action="schoolMonitoring" actionListener="#{homeActionBean.clearMessage}"/>
					<p:menuitem value="#{label['data_monitorin_search']}" 
					action="schoolMonitoringSearch" actionListener="#{homeActionBean.clearMessage}"/>
				</p:submenu>				
		</p:menubar>
	</h:form>
</ui:composition>