<!DOCTYPE f:view PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<h:head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		 <link  rel="shortcut icon" href="#{request.contextPath}/images/stc.png"  />
		 <link href="#{request.contextPath}/css/bootstrap/bootstrap.min.css"
			rel="stylesheet" />
		<link href="#{request.contextPath}/css/signin.css"
			rel="stylesheet" /> 
	</h:head>
	<h:body>
	
	 <div class="imgcontainer">
    <img src="images/stc_logo.png" alt="Save The Children" class="stc"/>
  </div>
	 <div class="container">

<h:form id="LoginForm">             
		 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
         <h:panelGrid id="grid" columns="2" cellpadding="5">
        <p:message for="username"  /> <p:outputLabel  value="" />
            <p:outputLabel for="username" value="User ID" style="width:170px" />
           
          <p:inputText id="username" value="#{loginAction.userid}" required="true" placeholder="User ID" label="username" style="width:300px"  />
 			  <p:message for="password" display = "Password"/> <h:outputLabel  value="" />
            <p:outputLabel for="password" value="Password" />
            <p:password id="password" value="#{loginAction.pwd}" required="true" placeholder="Password" label="password" style="width:300px"/>
 			
       </h:panelGrid> 
                <p:commandButton value="Login" styleClass="btn btn-primary btn-lg" action="#{loginAction.login}" update="LoginForm"
                process="LoginForm"/>
                                  
</h:form>
 </div>
 </h:body>

</f:view>